body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

#title {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  color: whitesmoke;
  background: rgb(98, 89, 249);
  background: linear-gradient(
    50deg,
    rgba(98, 89, 249, 1) 0%,
    rgba(93, 241, 135, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}
main {
  width: 100%;
}
.goods-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  border-top: 20px;
  overflow-y: auto;
  background: rgb(134, 130, 200);
  background: linear-gradient(
    50deg,
    rgba(134, 130, 200, 1) 0%,
    rgba(86, 152, 104, 1) 50%,
    rgba(20, 154, 181, 1) 100%
  );
}

.good {
  display: flex;
  justify-content: space-around;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 70px;
  align-items: center;
  margin: 10px;
}
.good-text {
  width: 100%;
}
#text-box {
  padding-left: 30px;
  width: 100%;
  font-size: 30px;
  margin: 20px 0;
}
.good-name {
  flex-basis: 90%;
  font-size: 30px;
  border-right: 2px solid black;
}

.delete-good {
  margin: 0;
  flex-basis: 10%;
  font-size: 30px;
  padding-left: 40px;
  cursor: pointer;
}

.add-good {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: aqua;
  font-size: 80px;
  cursor: pointer;
  transition: transform 100ms ease-in;
}

.add-good:hover {
  transform: scale(1.1);
}
